/* Reset Css */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* các thuộc tính cho toàn bộ html */
 html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
 }
 /* thuộc tính giả để xét màu cho các hover */
 :root{
    --color-hover:#ccc;
 }
 

 #app{

 }
 .row {
   margin-left: -8px;
   margin-right: -8px;

 }
 /* biến giả */
 .row::after {
   content: "";
   display: block;
      /* giải quyết vấn đề float không bao được toàn bộ thẻ con */
      clear: both;
   
 }
 .col {
   float: left;
   padding: 0 8px;
 }
 .col-third {
   width: calc(100%/3);
 }
 .col-half {
   width: 50%;
 }
 .col-full {
   width: 100%;
 }

 #header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

 }
 #nav {
   /* để cho nav chỉ chiếm chiều dài bằng nó */
   display: inline-block;
   
 }
 #nav li{
    /* trên 1 hàng và có thuộc tính khối để xét các thuộc tính khác */
    display: inline-block;
    position: relative;
 }
 /* hiển thị menu con khi di chuyển vào thẻ li chứa nó */
 #nav li:hover .subnav {
    display: block;
 }
 #nav >li> a, #nav .subnav li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    padding: 0 24px;
    font-size: 1.5em;

 }
 /* css chỉ cho cấp 1  */
 #nav > li:hover > a,
 #nav .subnav li:hover a {
    background-color: var(--color-hover);
    color: #000;
    display: block;
   
   
 }
 #nav .subnav  {
    /* Làm ẩn menu để khi di chuyển sẽ hiện ra */
    display: none;
    position: absolute;
    background-color: #fff;
    
    /* thuộc tính bóng đổ */
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
   

 }
 #nav .subnav li a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
   
 }
 
 #nav .subnav li  {
    width: 100%;
   
 }
 #nav .arrow-down {
   font-size: 0.8em;
 }
 #header .search-button {
   float: right;
   padding: 0 23px;
  
 }
 #header .search-icon {
   font-size: 1.5em;
   color: #fff;
   line-height: 46px;
 }
 #header .search-button:hover {
  background-color: red;
  cursor: pointer;
  
 }


 #slider{
    /* cách header vì header dùng fixed */
    margin-top: 46px;
    /* tỷ lệ phần trăm theo hàng ngang của chính nó */
    padding-top: 50%;
    background: url('../image/ny.jpg') top center / cover no-repeat;
    position: relative;
    

 }
 #slider .text-slider {
   position: absolute;
   bottom: 50px;
    color: #fff;
    left: 50%;
    text-align: center;
    /* thuộc tính căn giữa */
    transform: translateX(-50%);
 }

 #slider .text-heading {
   margin: 10px 0;
   font-size: 2.5em;
   font-family: cursive;

 }

 #slider .text-des {
   font-size: 1.5em;

 }


 #content{

 }
 #content .content-section {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   padding: 64px 16px;
 }
 #content .section-heading {
   margin: 10px 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    /* thuộc tính cách các từ trong chữ */
    letter-spacing: 4px;

 }
 #content .section-nub-heading {
   margin: 15px 0;
  
   text-align: center;
   font-style: oblique;
   font-size: 1.5em;
   color: #ccc;
}
   

#content .text-band {
   font-size: 1.5em;
    text-align: justify;
    margin: 15px 0;
    letter-spacing: 1px;
    line-height: 1.3;
}
#content .member {
   
   text-align: center;
}
#content .member-name {
  
   font-size: 1.5em;
   margin: 15px 0;
}
#content .member-img {
   width: 150px;
   border-radius: 2px;

}
#content .tour {
   background-color: #000;
}
.tour h2 {
   color: #fff;
}
.ticket-list {
   background-color: #fff;
   margin-top: 30px;
   list-style: none;
}
.ticket-list li {
   padding: 16px 8px;
   font-size: 1.5em;
   color: var(--color-hover);
}
.ticket-list .sold-out {
   color: #fff;
    background-color: #ff0000d9;
    padding: 8px;
    margin-left: 20px;
}
.ticket-list .sold {
   color: #fff;
    background-color: #000;
    float: right;
    padding: 2px 8px;
    margin-right: 16px;
    border-radius: 50%;
    font-size: 1.2em;
}
.tour .location-list{
   margin-top: 32px;
   margin-bottom: 48px;

}



.tour .item-img{
   /* để các img có kích thước bằng đúng khích thước vật chứa nó */
   width: 100%;
   display: block;

}
.tour .item-img:hover {
   opacity: 0.5;
}

.tour .item-content{
   
    background-color: #fff;
    font-size: 1.5em;
    margin-left: 10p;
    padding: 16px;

}

.tour .location-name{
   font-weight: bold;
    margin-bottom: 16px;

}

.tour .loaction-date{
   margin-bottom: 16px;
   color: var(--color-hover);

}

.tour .location-des{

}

.tour .by-ticket{
   background-color: #000;
    color: #fff;
    padding: 8px 15px;
    margin-top: 16px;
    border: none;

}
.tour .by-ticket:hover,
.model-close:hover,
 .model-button:hover,
 .contact-form .mt-16:hover,
button.button-close:hover {
   color: #000;
   background-color: var(--color-hover);
   /* thay đổi con trỏ chuột */
   cursor: pointer;
}
.contact-content {
   margin-top: 40px;
   
   
}
.contact-info{
   font-size: 1.7em;
   line-height: 1.6;
   
}
.contact-content i {
   width: 30px;
   display: inline-block;
   
}
.contact-form .form-control{
   width: 100%;
   border: 1px solid var(--color-hover);
   font-size: 1.5em;
   padding: 11px;
}
.mt-8{
   margin-top: 8px;
}
.mt-16{
   margin-top: 16px;
   
   
}
.contact-form .form-submit {
   float: right;
   padding: 8px;
   background-color: #000;
   color: #fff;
   border: none;

}

.map img{
   width: 100%;

}
 #footer{
   min-height: 200px;
   margin-top: 48px;
   text-align: center;

 }
 .footer-media a:hover{
   opacity: 0.4;
 }
 .footer-media a{
   text-decoration: none;
   color: rgb(155, 153, 153);
   font-size: 2.5em;
   letter-spacing: 3px;
   line-height: 3;
 }
 #footer p{
   font-size: 1.5em;
   color: rgb(155, 153, 153);
 }
 .model.open {
   /* hiện */
   display: flex;
 }
 .model {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.4);
   /* ẩn  */
   display: none;
    align-items: center;
    justify-content: center;
    
 }
 .model-conteniner {
   background-color: #fff;
   width: 900px;
   max-width: calc(100% - 32px);
   min-height: 200px;
   position: relative;

}

.model-close {
   position: absolute;
    right: 0;
    padding: 8px 16px;
    font-size: 1.5em;
    color: #fff;

} 

 

.model-header {
   background-color: #009688;
   height: 130px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2.5em;
   color: #fff;
   letter-spacing: 4px;

}
.model-header i{
   margin-right: 16px;
   
}

.model-body {
   padding: 16px;

}

.model-label {
   display: block;
   font-size: 1.5em;
   margin: 15px 0;

}

 .model-input {
   border: 1px #ccc solid;
   padding: 10px;
   font-size: 1.5em;
   width: 100%;
    margin-bottom: 20px;

}

 .model-button {
   width: 100%;
    font-size: 2em;
    border: none;
    background-color: #009688;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;

}


 .model-footer {
   padding: 16px;

}
button.button-close {
   border: none;
   color: #fff;
   padding: 8px;
   font-size: 1.5em;
   background-color: #f44336;
}
  
button.button-close i{
   font-size: 0.6em;
}
p.footer-help {
   float: right;
   font-size: 1.5em;
}
.footer-help a {
   color: #2196f3;
}

   




